/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

.blockquote {
    background-color: #f5f2f0;
    border-color: #e0dfcc;
    border-radius: 1em;
    border-style: solid;
    border-width: 0.2em;
    /*font-family: Consolas,Monaco,"Andale Mono",monospace;*/
    /*margin: 0em;*/
    overflow: auto;
    padding: 1em;
    text-shadow: 0 1px white;
}